## Introduction to Python

A few high-level notes on Python

- Python is an intepreted language, meaning there is no linking or compiling necessary of (pure Python) programs. You can execute Python code interactively using a REPL (Read-Eval-Print Loop)

- Python allows you to split a program over modules that can be reused in other Python programs.

- Statement grouping is done via indentation rather than brackets or braces.

- Variable and argument declarations are not needed.

That is, you don't have to do things like this that you have in C.

    int i;
    for (i = 0; i < 10; i ++){
        ...
    }

In Python, it's simply

    for i in range(10):
        ...

- Python is extensible. For example, if you know how to program in C, you can write speed critical code in C and make them available to Python. Or if you have a legacy library in Fortran, with a small amount of work you can use this library from Python.

## Modules

A module is a file that contains Python definitions and statements. The file will end with `.py`.

You might fire up your favorite editor and create a file called `hurricane_simulation.py`.

    #! /usr/bin/python
    """
    Simulate a category-5 tropical storm to 100-km accuracy
    Author: Skipper Seabold
    Created: January 14, 2013
    """
    
    import numpy as np
    # ...

## Getting Help

The lines in triple-quotes are referred to as the module docstring. This is how code is documented in Python.

In [ ]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In IPython/Jupyter, you can use `?` to get the docstring.

In [ ]:
range?

## Self Help

Comments begin with a `#` in Python. Comment your code liberally.

In [ ]:
# this is a comment

## Displaying

You can use the print functions to display strings

In [ ]:
# output hello world
print("Hello, world.")
# print()
print("Hello")

Hello, world.
Hello

You can print variables as part of strings

In [ ]:
name = "Skipper"
name2 = 'Thura'
print("Hello, world. My name is {} I am an Engr".format(name))
print(f"Hello {name2}")

Hello, world. My name is Skipper
Hello Thura

You can print numbers too.

In [ ]:
print("2 + 2 =", 4)

2 + 2 = 4

In [ ]:
print("2 + 2 = {:d}".format(4))

2 + 2 = 4

In [ ]:
print("2 + 2 = {:05d}".format(4))

2 + 2 = 00004

Data Types
*   int 
*   float
*   string str
*   list
*   tuple
*   dictionary

## Numbers and Arithmetic Operations

Scalar multiplication is indicated by an asterisk (\*), or "star." Addition, subtraction, and division operators are `+`, `-`, and `/`. Exponentiation is done by two asterisks.

In [ ]:
2 * (5.0 / 8.0 - 1.25)**2

0.78125

In Python 3, the division operators is float division. To force explicit integer division, use `//`.

In [ ]:
5 / 8

0.625

In [ ]:
5 // 8

0

In [ ]:
5.0 // 8.0

0.0

The modulo operator is `%`. This gives the remainder after dividing two numbers.

In [ ]:
8 % 5

3

In [ ]:
5.5 % 8

5.5

## Variables and Assignments

Assignment is done through the equals operators `=`. Variable names are case-sensitive.

In [ ]:
pi = 3.142
radius = 2.5
area = pi*radius*radius
print(3.142*2.5*2.5)
print(area)
print(area + 1)
area = area + 1
print(area)

19.6375
19.6375
20.6375
20.6375

In [ ]:
length_of_bridge = 15

For the assertion operator use the usual `==`, `<`, `>`, `!=`, etc.

In [ ]:
length_of_bridge == 16

False

In [ ]:
length_of_bridge <= 14

False

In [ ]:
length_of_bridge != 16

True

Getting rid of a variable.

In [ ]:
del length_of_bridge

In [ ]:
print(length_of_bridge)

NameError: ignored

Note: For now, it's best to think of del as a way to clean up the namespace rather than as the equivalent of `free` in C, i.e., a memory-management tool. You can read some more about garbage collection in CPython [here](http://docs.python.org/3/library/gc.html), if you're interested.

You can find out what variables are declared in the local or global namespace, by using the dictionaries locals() and globals().

In [ ]:
x = 12

In [ ]:
locals()['x']

12

In [ ]:
del x

In [ ]:
locals().get('x', 'not here')

'not here'

You can increment and decrement variables in-place using += and -=.

In [ ]:
x = 12
#x = x + 1
x += 1
print(x)

13

## Built-in types: iterables

**Lists** are constructed with square brackets separating items with commas. Lists are mutable, meaning they can be changed.

In [ ]:
heights = [21.6, 22.5, 19.8, 20.5]

All Python iterables are zero-indexed.

In [ ]:
print(heights[3])

20.5

You can use negative indexing.

In [ ]:
print(heights[-1])

12

Lists are mutable, so we can change an item.

In [ ]:
heights[2] = 12

Be careful. `a` is a reference to the list we created. Python passes this *same* reference on assignment.

In [ ]:
a = [21.6, 22.5, 19.8, 20.5]

In [ ]:
#b = a
b = a[:]
b[2] = 32.1
print(a)
print(b)

[21.6, 22.5, 19.8, 20.5]
[21.6, 22.5, 32.1, 20.5]

In [ ]:
id(a)

139903052728776

In [ ]:
id(b)

139903053182664

Taking a slice, however, does copy.

In [ ]:
b = a[1:3]
print(b)

In [ ]:
b[0] = 22.16
print(b)
print(a)

You can use the copy-on-slice syntax to copy the whole list.

In [ ]:
b = a[:]

Or use the list constructor explicitly, after all, explicit is better than implicit.

In [ ]:
b = list(a)

In [ ]:
print(id(a))

In [ ]:
print(id(b))

You can place any objects in a list.

In [ ]:
a = [1, 2, [10, 11]]

In [ ]:
print(a[0])

In [ ]:
print(a[-1])

[10, 11]

You can quickly create list(-like object) with the range function.

In [ ]:
years = range(1996, 2013)

In [ ]:
print(years)

range(1996, 2013)

You can given offset to range.

In [ ]:
years = range(1996, 2013, 4)

In [ ]:
print(years)

range(1996, 2013, 4)

**Tuples** are much like lists; however, they are immutable and, therefore, [hashable](http://docs.python.org/2/glossary.html#term-hashable). You instantiate a tuple using parantheses () and separate items using a comma.

In [ ]:
a = (1, 2, 3)

In [ ]:
print(a)

(1, 2, 3)

In [ ]:
for i in a:
    print(i)

1
2
3

In [ ]:
a[1] = 12

TypeError: ignored

In [ ]:
try:
    1/0.
    print('ok')
except ZeroDivisionError:
    print("You can't divide by zero!")

You can't divide by zero!

**Strings** are also an iterables. However, it may surprise you that strings are immutable unlike in C.

In [ ]:
a = 'abcdef'

In [ ]:
for i in a:
    print(i)

a
b
c
d
e
f

In [ ]:
print(a[2])

c

In [ ]:
a[2] = 'q'

TypeError: ignored

A **dictionary** is a mapping type. It maps [hashable](http://docs.python.org/2/glossary.html#term-hashable) keys to arbitrary objects. Hashable simply means that mutable objects cannot be used as keys to a dictionary. I.e., since lists and dictionaries are mutable, they can't be keys of a dictionary. Dictionaries can be instantiated in a number of ways. The most common is through curly brackets and using `dict`.

In [ ]:
d = {
    1: 'I am a value', 
    'key': 'Another value', 
    '2': [1, 2, 3],
     12 : "twelve"
}

You can get that values associated with a key like so

In [ ]:
d[1]

'I am a value'

In [ ]:
d['2']

[1, 2, 3]

In [ ]:
d['key']

'Another value'

In [ ]:
d.get(12)

'twelve'

You can also use the `dict` constructor.

In [ ]:
d = dict(key=12, other_key=[1, 2, 3])

In [ ]:
d['other_key']

[1, 2, 3]

In [ ]:
print(d)

{'key': 12, 'other_key': [1, 2, 3]}

Or create a dictionary from an iterable.

In [ ]:
key_value_pairs = [('key', [1, 2, 3]), ('other', 12), (12, 'value')]
d = dict(key_value_pairs)

In [ ]:
d

You can find out much more about built-in types and operators in the Python documentation [here](http://docs.python.org/3/library/stdtypes.html).

Some useful functions for working with sequences.

In [ ]:
a = range(1, 100, 12)

In [ ]:
len(a)

9

In [ ]:
13 in a

True

In [ ]:
15 in a

False

In [ ]:
15 not in a

True

The following will give the methods and/or attributes available for any object.

In [ ]:
dir(a)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

Or use the Jupyter Notebook's tab-completion.

    In [1]: a.<tab>
    a.append   a.count    a.extend   a.index    a.insert   a.pop      a.remove   a.reverse  a.sort

## Control Flow Tools

**if** statements

In [ ]:
x = 42

In [ ]:
if x < 0:
    x = 0
    print(x)
    print('Negative set to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Single

**for loops**

In [ ]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

**while loops**

In [ ]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

**break** and **continue** statements

In [ ]:
for i in range(2, 10):
    if i > 5:
        break
    print(i)

2
3
4
5

In [ ]:
for i in range(2, 10):
    if i == 6:
        continue
    print(i)

2
3
4
5
7
8
9

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

*Else* in the above belongs to the *for* clause. It is executed when the loop terminates through exhaustion of the list (with `for`) or when the condition becomes false (with `while`), but not when the loop is terminated by a `break` statement.

## Functions

Types of Functions
Basically, we can divide functions into the following two types:

1.   Built-in functions - Functions that are built into Python.
2.   User-defined functions - Functions defined by the users themselves.

We can define a function `square` that squares the input argument like so.

In [ ]:
def square(x):
    """
    """
    return x**2

In [ ]:
square(12)

144

For a simple, small function like this, Python also provides what are called `lambda` functions, which are defined using the **lambda** statement.

In [ ]:
square2 = lambda x : x**2

In [ ]:
square2(12)

144

In [ ]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [ ]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

Python functions can and should have docstrings like the module docstring we saw above.

In [ ]:
def square(x):
    """
    Returns the square of an input.

    Parameters
    ----------
    x : scalar
        A number to square.

    Returns
    -------
    ret : scalar
        The input `x` squared, ie., x**2
    """
    return x**2

In [ ]:
print(square.__doc__)

    Returns the square of an input.

    Parameters
    ----------
    x : scalar
        A number to square.

    Returns
    -------
    ret : scalar
        The input `x` squared, ie., x**2

In [ ]:
#default argumetS
def greet(name, msg="Good morning!"):
    """
    This function greets to
    the person with the
    provided message.

    If the message is not provided,
    it defaults to "Good
    morning!"
    """

    print("Hello", name + ', ' + msg)

In [ ]:
greet("Thura Aung")

Hello Thura Aung, Good morning!

In [ ]:
def greet(*names):
    """This function greets all
    the person in the names tuple."""

    # names is a tuple with arguments
    for name in names:
        print("Hello", name)

In [ ]:
greet("Thura","Zarni","San Pyae")

Hello Thura
Hello Zarni
Hello San Pyae

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        print(x)
        return (x * factorial(x-1))

In [ ]:
num = eval(input("Enter a number: "))
print(factorial(num))

Enter a number: 4
4
3
2
24

Advantages of Recursion
* clean and elegant
* complex code into similar sub-problems

Disadvantages
* logic is hard
* memory expensive
* hard to debug

Scope of a variable
*   global
*   local
*   nonlocal

In [ ]:
c = 0 # global variable

def add():
    global c
    #c = 0
    c = c + 2 # increment by 2
    print("Inside add():", c)

add()
print("In main:", c)

Inside add(): 2
In main: 2

## List Comprehension

In [ ]:
[i for i in range(1, 6) if i%2 == 0]

[2, 4]

In [ ]:
result_list = []
for i in range(1,6):
    
    if(i%2 == 0):
      result_list.append(i)
    else:
      continue
result_list

[2, 4]

In [ ]:
result_list = []

for i in range(1, 6):
    result_list.append(i)

result_list

[1, 2, 3, 4, 5]

In [ ]:
x = ['a', 'b', 'c', 'd', '_e', '_f']

In [ ]:
[i for i in x if not i.startswith('_')]

['a', 'b', 'c', 'd']

In [ ]:
[i if not i.startswith('_') else 'skipped' for i in x]

['a', 'b', 'c', 'd', 'skipped', 'skipped']

## CSV files

In [ ]:
csv_file = open("sample_data/california_housing_test.csv")

In [ ]:
line = next(csv_file)

In [ ]:
print(line)

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

In [ ]:
for line in csv_file:
  print(line)

In [ ]:
#close the csv file
csv_file.close()

In [ ]:
import csv
from pprint import pprint

In [ ]:
csv_file = open("sample_data/california_housing_test.csv")

reader = csv.reader(csv_file)

In [ ]:
headers = next(reader)

In [ ]:
pprint(headers)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')